h1 {
  	font-size: 50pt;
	font-family: helvetica, arial;
	color: black;
  	margin: 30px 0px;
  	letter-spacing: -5px;
}

.briefText {
	text-align: left !important;
	padding: 10px;
}

.gwt-ToggleButton, .gwt-Button {
	font-size: 7pt !important;
	width: 100px;
	text-align: center;
	margin: 5px !important;
	background: white !important;
	}
	
.gwt-ToggleButton {
	float: left;
	}

.applianceButton {
	height: 150px;
}

.gwt-ToggleButton-down {
}

.clearButton {
	border: 1pt red solid !important;
	color: red;
	margin: 20px !important;
	font-size: 8pt !important;
}

.submitButton {
	border: 1pt black solid !important;
	color: black;
	font-size: 8pt !important;
}

.results {
	padding: 0px 20px;
	font-size: 8pt;
	}

.meter {
	}

.gwt-TabBar {
}

.gwt-TabBar .gwt-TabBarFirst {
 width: 0px !important;
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
 margin-left: 1px !important;
 padding: 2px 4px !important;
 font-size: 8pt;
 cursor: pointer;
 cursor: hand;
 color: white !important;
 font-weight: normal !important;
 text-align: center;
 background: black !important;
}

.gwt-TabBar .gwt-TabBarItem-selected {
 cursor: default;
 background: #666666 !important;
 font-weight: bold !important;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
 cursor: default;
 color: #999999;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
 border: 2pt black solid !important;
 overflow: hidden;
 padding: 6px;
}

img {
	padding: 10px 0px;
	}

.emissions {

	}
	
.energy {

	}
	
.cost {

	}
	